{% extends 'base.html' %} 

{% block title %} {{ blog_post.title }} {% endblock %} 

{% block body %}

<h2>{{ blog_post.title }}</h2>
<h5>By: <a href="{% url 'profile_detail' blog_post.user %}">{{ blog_post.user }}</a>, Category: <a href="{% url 'category_posts' blog_post.category.id %}">{{ blog_post.category }}</a>, {{ blog_post.date }}</h5>
<img src="{{ blog_post.blog_image.url }}" style="height:366px;width:550px;" />
<br /><br />
<h3>{{ blog_post.description }}</h3>
{% if user.id == blog_post.user.id %}
    <a href="{% url 'blog_update' blog_post.pk %}" class="btn btn-info">Update</a>
{% endif %}

{% if user.id == blog_post.user.id %}
    <form action="{% url 'blog_delete' blog_post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endif %}

<form action="{% url 'like_post' blog_post.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">
        {% if user in blog_post.likes.all %}
            <span style="color: red;">❤️</span>
        {% else %}
            <span style="color: white;">🤍</span>
        {% endif %}
        {{ blog_post.total_likes }} Likes
    </button>
</form>

<h2>Comments({% if blog_post.comments.all %} {{ blog_post.comments.all|length }} {% endif %})</h2>

{% if not blog_post.comments.all %}
<h3>No Comments Yet...</h3>
<a class="btn btn-info" href="{% url 'add_comment' blog_post.pk %}">Add Comment</a>
{% else %}
<a class="btn btn-info" href="{% url 'add_comment' blog_post.pk %}">Add Comment</a>
{% for comment in blog_post.comments.all %}
<h4><strong>{{ comment.title }}</strong> - {{ comment.date }} - By: {{ comment.user }}</h4>
<p>{{ comment.body }}</p>
{% endfor %}
{% endif %}

{% endblock %}
